Importamos las librerias que utilizaremos para la limpieza

In [50]:
import numpy as np
import pandas as pd

Importamos los csv en dataframes para poder trabajarlos

In [51]:
df_amazon = pd.read_csv('./datasets/amazon_prime_titles.csv')
df_disney = pd.read_csv('./Datasets/disney_plus_titles.csv')
df_hulu = pd.read_csv('./Datasets/hulu_titles.csv')
df_netflix = pd.read_json('./Datasets/netflix_titles.json')

In [52]:
#Observamos rapidamente uno de los dataframe
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

Vamos a dejar solo las columnas que nos interesan para este trabajo especifico

In [53]:
df_amazon = df_amazon[['show_id', 'type', 'title', 'cast', 'release_year', 'duration','listed_in']]
df_disney = df_disney[['show_id', 'type', 'title', 'cast', 'release_year', 'duration','listed_in']]
df_hulu = df_hulu[['show_id', 'type', 'title', 'cast', 'release_year', 'duration','listed_in']]
df_netflix = df_netflix[['show_id', 'type', 'title', 'cast', 'release_year', 'duration','listed_in']]

In [54]:
#Observamos como se reducen las columnas presentes
df_amazon.head()

,show_id,type,title,cast,release_year,duration,listed_in
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama"
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International"
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense"
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy"

Agregamos al final de cada dataframe una columna con el nombre de la plataforma original

In [55]:
df_amazon['plataforma']= 'Amazon'
df_disney['plataforma']= 'Disney'
df_hulu['plataforma']= 'Hulu'
df_netflix['plataforma']= 'Netflix'

In [56]:
#Vemos los resultados
df_amazon.head()

,show_id,type,title,cast,release_year,duration,listed_in,plataforma
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon

Unimos los 4 dataframes en uno solo

In [57]:
frames = [df_amazon, df_disney, df_hulu, df_netflix]
df_plat = pd.concat(frames, ignore_index=True)

A partir de ahora iniciamos una serie de consultas para conocer un poco los datos del dataframe

In [58]:
#Observamos las primeras filas del dataframe
df_plat.head()

,show_id,type,title,cast,release_year,duration,listed_in,plataforma
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon

In [59]:
#Observamos si hay duplicados 
df_plat.duplicated().sum()

0

In [60]:
#Obsevamos si presenta datos nulos nuestro dataframe
df_plat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          17677 non-null  object
 4   release_year  22998 non-null  int64
 5   duration      22516 non-null  object
 6   listed_in     22998 non-null  object
 7   plataforma    22998 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.4+ MB

In [62]:
#Vemos donde y cuantos datos nulos tenemos
df_plat.isna().sum()

show_id            0
type               0
title              0
cast            5321
release_year       0
duration         482
listed_in          0
plataforma         0
dtype: int64

In [63]:
#Rellenamos los NA con 'None' si estan en columna 'cast' y con 0 si estan en 'duration'
df_plat["cast"].fillna("None", inplace = True) 
df_plat["duration"].fillna("0", inplace = True)

In [65]:
#Volvemos a observar si ya no hay datos nulos
df_plat.isna().sum()

show_id         0
type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
plataforma      0
dtype: int64

In [66]:
#Veamos el tipo de dato de la columna duration
df_plat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   cast          22998 non-null  object
 4   release_year  22998 non-null  int64
 5   duration      22998 non-null  object
 6   listed_in     22998 non-null  object
 7   plataforma    22998 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.4+ MB

In [67]:
#Vemos los 10 primeros registros y nos enfocamos en la columna duration
df_plat.head(10)

,show_id,type,title,cast,release_year,duration,listed_in,plataforma
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon
5,s6,Movie,Living With Dinosaurs,"Gregory Chisholm, Juliet Stevenson, Brian Hens...",1989,52 min,"Fantasy, Kids",Amazon
6,s7,Movie,Hired Gun,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...",2017,98 min,"Documentary, Special Interest",Amazon
7,s8,Movie,Grease Live!,"Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",2016,131 min,Comedy,Amazon
8,s9,Movie,Global Meltdown,"Michael Paré, Leanne Khol Young, Patrick J. Ma...",2017,87 min,"Action, Science Fiction, Suspense",Amazon
9,s10,Movie,David's Mother,"Kirstie Alley, Sam Waterston, Stockard Channing",1994,92 min,Drama,Amazon

In [68]:
#Realizamos y aplicamos una funcion para poder obtener solo el nro en la columna duration y con tipo de dato int
import re
def extraer_num(columna):
    d = re.match(r"\d+", columna)
    if d:
      return int(d.group())
    else:
      return 0
df_plat["duration"] = df_plat["duration"].map(extraer_num)

In [69]:
#Al volver a observar los registros duration ya solo contiene nros y quedara relacionada al tipo si es min o season
df_plat.head(10)

,show_id,type,title,cast,release_year,duration,listed_in,plataforma
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113,"Comedy, Drama",Amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110,"Drama, International",Amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74,"Action, Drama, Suspense",Amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69,Documentary,Amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45,"Drama, Fantasy",Amazon
5,s6,Movie,Living With Dinosaurs,"Gregory Chisholm, Juliet Stevenson, Brian Hens...",1989,52,"Fantasy, Kids",Amazon
6,s7,Movie,Hired Gun,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...",2017,98,"Documentary, Special Interest",Amazon
7,s8,Movie,Grease Live!,"Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",2016,131,Comedy,Amazon
8,s9,Movie,Global Meltdown,"Michael Paré, Leanne Khol Young, Patrick J. Ma...",2017,87,"Action, Science Fiction, Suspense",Amazon
9,s10,Movie,David's Mother,"Kirstie Alley, Sam Waterston, Stockard Channing",1994,92,Drama,Amazon

In [70]:
#Analizamos de nuevo los tipos de datos
df_plat.dtypes

show_id         object
type            object
title           object
cast            object
release_year     int64
duration         int64
listed_in       object
plataforma      object
dtype: object

FUNCIONES PARA LAS CONSULTAS

Funcion 1: Obtener nombre de la pelicula/serie que mas duró, y de cuanto fue esa duracion:

In [79]:
#Recibe 3 parametros
def get_duration(plataforma:str, anio:int, tipo:str):   
    #vamos a diferenciarlas por el parametro tipo que pasemos  
    if tipo == 'min':
        t = 'Movie'
        #dentro de una lista guardamos el id de la pelicula/serie de maxima duracion agrupada por plat, tipo y año
        g = df_plat[df_plat['plataforma'] == plataforma][df_plat['release_year'] == anio][df_plat['type'] == t].groupby(['plataforma', 'type', 'release_year'])['duration'].idxmax().tolist()
        #imprimamos el id que obtenemos
        print(g)
        #de los registros de ese id, vamos a extraer la duracion y el titulo
        duracion = df_plat['duration'].get(g[0])
        titulo = df_plat['title'].get(g[0])
    if tipo == 'seasons':
        t = 'TV Show'
        g = df_plat[df_plat['plataforma'] == plataforma][df_plat['release_year'] == anio][df_plat['type'] == t].groupby(['plataforma', 'type', 'release_year'])['duration'].idxmax()
        duracion = df_plat['duration'].get(g[0])
        titulo = df_plat['title'].get(g[0])
    return (f'La maxima duracion en {tipo} para un {t} de {plataforma} en el {anio} es: {duracion}, y cuyo titulo es: {titulo}')

In [80]:
get_duration('Hulu', 2018, 'min')

[12660]

C:\Users\jpost\AppData\Local\Temp\ipykernel_10268\1847762662.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  g = df_plat[df_plat['plataforma'] == plataforma][df_plat['release_year'] == anio][df_plat['type'] == t].groupby(['plataforma', 'type', 'release_year'])['duration'].idxmax().tolist()

'La maxima duracion en min para un Movie de Hulu en el 2018 es: 151, y cuyo titulo es: The House That Jack Built'

In [88]:
#Obtengamos la info de ese id para ver sus datos
df_plat.iloc[12660]

show_id                             s1543
type                                Movie
title           The House That Jack Built
cast                                 None
release_year                         2018
duration                              151
listed_in            Crime, Drama, Horror
plataforma                           Hulu
Name: 12660, dtype: object

Funcion 2: Obtener la cantidad total de peliculas y series de acuerdo a una plataforma

In [130]:
#Recibe 1 parametro
def get_count_plataform(plataforma):
    #guardamos en una variable la cantidad total segun el tipo que sea, agrupando por plataforma y tipo
    c = df_plat[df_plat['plataforma'] == plataforma].groupby(['plataforma', 'type'])['type'].value_counts()
    #la variable tiene 2 valores, vamos a tomar uno para las Movies y otro para los TV Show
    return (f'La cantidad total de Movies para {plataforma} es: {c[0]}\
    La cantidad total de Tv Show para {plataforma} es: {c[1]}')

In [128]:
#Al analizar si agrupamos solo por plataforma, vemos que ordena los valores por la cantidad, Hulu presentaria problema en la funcion
df_plat.groupby(['plataforma'])['type'].value_counts()

plataforma  type
Amazon      Movie      7814
            TV Show    1854
Disney      Movie      1052
            TV Show     398
Hulu        TV Show    1589
            Movie      1484
Netflix     Movie      6131
            TV Show    2676
Name: type, dtype: int64

In [129]:
#Al agrupar por plataforma y tipo, ordena primero el tipo por orden alfabetico, entonces ya puedo obtener los valores correctos
df_plat.groupby(['plataforma', 'type'])['type'].value_counts()

plataforma  type     type
Amazon      Movie    Movie      7814
            TV Show  TV Show    1854
Disney      Movie    Movie      1052
            TV Show  TV Show     398
Hulu        Movie    Movie      1484
            TV Show  TV Show    1589
Netflix     Movie    Movie      6131
            TV Show  TV Show    2676
Name: type, dtype: int64

In [131]:
get_count_plataform('Hulu')

'La cantidad total de Movies para Hulu es: 1484    La cantidad total de Tv Show para Hulu es: 1589'

Funcion 3: Obtener la plataforma que mas veces repite un genero y la cantidad de veces que lo hace

In [154]:
#Recibe 1 parametro
def listedin(genero):
    #guardamos en una variable un diccionario con los datos necesarios
    count= df_plat[df_plat.listed_in.str.contains(genero, case=False)].groupby(by=['plataforma']).listed_in.count().sort_values(ascending= False).to_dict()
    claves = list(count.keys())
    valores = list(count.values())
    return f'El género {genero} aparece mas veces en la plataforma {claves[0]} con un total de: {valores[0]} veces'

In [155]:
h = df_plat[df_plat.listed_in.str.contains('Comedy', case=False)].groupby(by=['plataforma']).listed_in.count().sort_values(ascending= False).to_dict()

In [156]:
h
print(list(h.keys()))
print(list(h.values()))

['Amazon', 'Hulu', 'Disney', 'Netflix']
[2099, 667, 526, 399]

In [157]:
listedin('Comedy')

'El género Comedy aparece mas veces en la plataforma Amazon con un total de: 2099 veces'

Funcion 4: Obtener el actor/actriz que mas veces se repite por plataforma y año, y en que cantidad:

In [169]:
#Recibe 2 parametros
def get_actor(plataforma, anio): 
    #creamos una lista de actores y vamos a usar una query que guardamos en una lista
    actor_list = []
    cast_list = df_plat.query(f"plataforma == '{plataforma}' and release_year == {anio}").cast.tolist()
    #de esa lista de todos los actores de acuerdo a la plataforma y año especifico, en una variables guardamos todos los actores
    for i in range(len(cast_list)):
        actor_list_temp = cast_list[i].split(",")
        #dentro de esos actores, siempre que no sean None, los vamos agregando a la lista principal
        for j in range(len(actor_list_temp)):
            if actor_list_temp[j] != 'None':
                actor_list.append(actor_list_temp[j])
    #creamos un diccionario, que mapea la cantidad de veces que aparece con cada nombre de actor
    dict_actor = dict(zip(actor_list,map(lambda x: actor_list.count(x),actor_list)))
    #print(dict_actor)
    #de ese diccionario obtenemos el nombre del actor y la cantidad de apariciones
    max_actor = max(dict_actor, key=dict_actor.get)
    #print(max_actor)
    max_actor_appearances = dict_actor.get(max_actor)
    #print(max_actor_appearances)
    return f'El actor/actriz con mayor número de apariciones en la plataforma {plataforma} el año {anio} es {max_actor} con {max_actor_appearances} apariciones.'

In [170]:
get_actor('Netflix', 2018)

'El actor/actriz con mayor número de apariciones en la plataforma Netflix el año 2018 es  Andrea Libman con 8 apariciones.'